.matchStatus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 27px;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;  
}

.scheduled {
  background-color: #EB6402;
}

.ongoing {
  background-color: #43AD28;
  padding: 6px 2px; 
}

.finished {
  background-color: #EB0237;
  padding: 6px 2px; 
}
